@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Azeret Mono", monospace;
  width: 1440px;
  margin: 0 auto;
}

/* Header section style start */
.header {
  width: 1440px;
  margin: 0 auto;
}
nav {
  width: 1440px;
  height: 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 166px 0 150px;
}
nav > h1 {
  width: 50%;
  height: 34px;
}
nav > button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 17px 24px 17px 24px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}
/* hero banner style start here */
.hero-banner-container {
  width: 1440px;
  height: 652px;
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.hero-banner-container > img {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}
.hero-banner-container > h1 {
  margin-top: 32px;
  width: 998px;
  justify-content: center;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.hero-banner-container > p {
  margin-top: 24px;
  font-size: 16px;
  color: rgb(13, 19, 33);
  font-weight: 400;
  width: 852px;
  text-align: center;
  justify-content: center;
}
.hero-banner-container > a {
  margin-top: 32px;
  width: 250px;
  height: 66px;
  padding: 21px 15px 21px 15px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}

/* Why-web-dev-section-style-start */

.why-web-dev-container {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.why-web-dev-contents {
  padding-top: 80px;
  width: 946px;
  height: 1235px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.why-web-dev-text-content {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.why-web-dev-text-content > h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.why-web-dev-text-content > p {
  color: rgb(13, 19, 33);
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.why-web-dev-content-1 {
  width: 946px;
  height: 336px;
  margin-top: 48px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.why-web-dev-content-1 > img {
  width: 259.56px;
  height: 217.01px;
  float: right;
}
.why-web-dev-content-1 > h2 {
  position: static;
  width: 390px;
  height: 72px;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-web-dev-content-1 > p {
  width: 468px;
  height: 52px;
  display: flex;
  margin: 16px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.why-web-dev-content-1 > button {
  width: 160px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
.why-web-dev-content-2 {
  width: 946px;
  height: 336px;
  margin-top: 48px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.why-web-dev-content-2 > img {
  width: 240px;
  height: 240px;
  margin-right: 32px;
  float: left;
}
.why-web-dev-content-2 > h2 {
  width: 650px;
  height: 72px;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-web-dev-content-2 > p {
  width: 468px;
  height: 52px;
  display: flex;
  margin: 16px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.why-web-dev-content-2 > button {
  width: 160px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
.why-web-dev-content-3 {
  width: 946px;
  height: 336px;
  margin-top: 48px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.why-web-dev-content-3 > img {
  width: 259.56px;
  height: 217.01px;
  float: right;
}
.why-web-dev-content-3 > h2 {
  position: static;
  width: 390px;
  height: 72px;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-web-dev-content-3 > p {
  width: 468px;
  height: 52px;
  display: flex;
  margin: 16px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.why-web-dev-content-3 > button {
  width: 160px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
/* My Inspiration section start here */

.my-inspiration-container {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.my-inspiration-container > h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.my-inspiration-container > p {
  width: 852px;
  height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.iframe-container {
  width: 1140px;
  height: 614px;
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.iframe-container > .iframe {
  width: 1076px;
  height: 550px;
  margin: 0 auto;
  border: none;
  border-radius: 16px;
  overflow: hidden;
}
/* my-current-target style start here */

.my-current-target {
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  margin-top: 149px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.my-current-target > h2 {
  width: 852px;
  height: 39px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.my-current-target > p {
  width: 852px;
  height: 52px;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.my-current-target > .mct-container {
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mct-container > .html-container,
.css_container,
.js_container {
  padding: 40px;
  width: 364px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  order: 0;
  border-radius: 16px;
}
.mct-container > .html-container {
  background: rgba(255, 76, 30, 0.05);
}

.mct-container > .css_container {
  background: rgba(0, 76, 232, 0.05);
}
.mct-container > .js_container {
  background: rgba(255, 223, 0, 0.05);
}
.html-container > h3,
.css_container > h3,
.js_container > h3 {
  width: 284px;
  height: 36px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.html-container > p,
.css_container > p,
.js_container > p {
  width: 284px;
  height: 52px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.html-container > button,
.css_container > button,
.js_container > button {
  width: 285px;
  height: 20px;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
}
/* my next target section style start here  */
.my-next-target-container {
  width: 1140px;
  height: 871px;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.my-next-target-container > h3 {
  position: static;
  width: 852px;
  height: 39px;
  margin: 0 auto;
  align-items: center;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 20px;
}
.my-next-target-container > p {
  width: 852px;
  height: 52px;
  align-items: center;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.my-next-target-contents {
  width: 1140px;
  height: 708px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.my-next-target-contents > .next-target-content-1,
.next-target-content-2,
.next-target-content-3 {
  position: static;
  width: 1140px;
  height: 220px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.next-target-content-1 > img,
.next-target-content-2 > img,
.next-target-content-3 > img {
  width: 120px;
  height: 108px;
  background-position: center;
  float: left;
  margin-right: 32px;
}
.next-target-content-1 > h5,
.next-target-content-2 > h5,
.next-target-content-3 > h5 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.next-target-content-1 > p,
.next-target-content-2 > p,
.next-target-content-3 > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.next-target-content-1 > button,
.next-target-content-2 > button,
.next-target-content-3 > button {
  align-items: flex-start;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: transparent;
}
/* I need support section style start here */

.i-need-support {
  width: 1140px;
  height: 314px;
  margin: 0 auto;
  margin-top: 41px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../Assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.i-need-support > .i-need-support-container {
  width: 1044px;
  height: 186px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-need-support-container > h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.i-need-support-container > p {
  width: 620px;
  height: 52px;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.i-need-support-container .i-need-support-form {
  width: 548px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-need-support-form .suggest-text {
  width: 548px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 20px 19px 20px;
  margin: 0px 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.i-need-support-form .submit-btn {
  width: 120px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
footer {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  margin-top: 80px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
footer > .contect {
  width: 1140px;
  height: 36px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer > .contect > h5 {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: start;
}
.footer-img > img {
  margin-left: 8px;
}
